<div class="hidden sm:flex flex-wrap items-start gap-2 mb-8">

  <button (click)="reset()" class="btn btn-sm rounded-full"
          [class.btn-primary]="activeMode() === 'all'"
          [disabled]="isCoolingDown()">
    Všetko
  </button>

  <button (click)="setMode('bestsellers')" class="btn btn-sm rounded-full"
          [class.btn-primary]="activeMode() === 'bestsellers'"
          [disabled]="isCoolingDown()">
    Bestsellery
  </button>

  <button (click)="setMode('newReleases')" class="btn btn-sm rounded-full"
          [class.btn-primary]="activeMode() === 'newReleases'"
          [disabled]="isCoolingDown()">
    Najnovšie
  </button>

  <button (click)="setSort('price_desc')" class="btn btn-sm rounded-full"
          [class.btn-primary]="activeSort() === 'price_desc'"
          [disabled]="isCoolingDown()">
    Najdrahšie
  </button>

  <button (click)="setSort('price_asc')" class="btn btn-sm rounded-full"
          [class.btn-primary]="activeSort() === 'price_asc'"
          [disabled]="isCoolingDown()">
    Najlacnejšie
  </button>

  <button (click)="setMode('discounted')" class="btn btn-sm rounded-full"
          [class.btn-primary]="activeMode() === 'discounted'"
          [disabled]="isCoolingDown()">
    Najvyššia zľava
  </button>

  @if (cartStore.itemCount() > 0) {
    <button routerLink="/shopping"
            class="btn btn-sm btn-secondary text-white rounded-full"
            [disabled]="isCoolingDown()">
      Do košíka
    </button>
  }

  @if (store.isLoggedIn()) {
    <button routerLink="/profile"
            class="btn btn-sm btn-accent text-white rounded-full"
            [disabled]="isCoolingDown()">
      Profil
    </button>
  }

</div>
