<div
  *transloco="let t"
  class="card h-[360px] w-full bg-base-100 border border-base-300 transition-all duration-300 group"
>
  <figure class="px-2 pt-4 cursor-pointer" [routerLink]="['/product', product.id]">
    <div
      class="relative w-full h-52 bg-base-200 rounded-xl flex items-center justify-center transition-colors">

      <img [ngSrc]="product.coverUrl || 'images/placeholder.webp'"
           width="120"
           height="160"
           class="h-46 w-auto object-contain drop-shadow-md duration-500"
           [alt]="`Book Cover ${product.name}`">

      <span
        class="absolute top-0 left-1 px-1 py-1 rounded-md bg-base-100/70 backdrop-blur-md border border-base-content/10 text-base-content text-[8px] uppercase tracking-widest font-bold shadow-sm z-10">
        {{ ux.category() }}
      </span>

      <button
        (click)="$event.stopPropagation(); toggleFavorite(product.id)"
        class="favorite-btn absolute top-0 right-0 p-2 rounded-full bg-base-100/80 backdrop-blur-sm shadow-sm transition-all hover:scale-110 active:scale-95 z-10"
        [class.fav]="ux.isFavorite()"
        [class.text-error]="ux.isFavorite()"
        [class.text-base-content]="!ux.isFavorite()">
        <svg lucideHeart size="20" [attr.fill]="ux.isFavorite() ? 'currentColor' : 'none'"></svg>
      </button>
    </div>
  </figure>

  <div class="card-body p-3 flex flex-col overflow-hidden">
    <div class="space-y-1 shrink-0">
      <h2 class="card-title text-sm font-bold line-clamp-1 group-hover:text-primary transition-colors leading-tight">
        {{ product.name }}
      </h2>
      <p class="text-xs text-base-content/70 italic">by {{ ux.author() }}</p>
    </div>

    <div class="flex flex-col items-center shrink-0 mt-2 gap-3">
      <span class="text-md font-extrabold text-primary leading-none">
        {{ (product.price * (1 - product.discount)) | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}
      </span>
      <!-- <div class="flex flex-col gap-0.5"> -->
        <!-- @if (data.discount > 0) {
          <span class="text-[10px] line-through opacity-40">
            {{ data.price | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}
          </span>
        } -->

        <!-- <span class="text-md font-extrabold text-primary leading-none">
          {{ (data.price * (1 - data.discount)) | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}
        </span> -->

        <!-- <span class="text-[10px] font-medium mt-0.5"
              [class.text-success]="data.availableCount > 0"
              [class.text-error]="data.availableCount === 0">
          {{ data.availableCount > 0 ? 'Skladom (' + data.availableCount + ' ks)' : 'Vypredané' }}
        </span> -->
      <!-- </div> -->

      @if (product.isAvailable) {
        <button
          (click)="$event.stopPropagation(); handleCartAction()"
          class="btn btn-sm btn-outline transition-all duration-200 active:scale-95 px-4"
          [class.text-base-content]="!ux.isInCart()"
          [class.btn-error]="ux.isInCart()"
        >
          @if (ux.isInCart()) {
            <span>{{ t('cart.remove_from_cart') }}</span>
          } @else {
            <span>{{ t('cart.add_to_cart') }}</span>
          }
        </button>
      } @else {
        <div class="tooltip" [attr.data-tip]="t('common.sold_out_tooltip')">
          <button class="btn btn-soft btn-sm" disabled>{{ t('common.sold_out') }}</button>
        </div>
      }

    </div>

    <div class="flex-grow"></div>
  </div>
</div>
