<main class="container mx-auto">
  <header class="flex justify-between items-center mb-8">

    <app-filter-bar></app-filter-bar>

    <div class="flex justify-end mb-6">
      <button
        (click)="store.setViewLayout(store.viewLayout() === 'grid' ? 'list' : 'grid')"
        class="btn btn-sm btn-ghost border border-base-300 bg-base-200 rounded-full hover:bg-base-300"
        [title]="store.viewLayout() === 'grid' ? 'Switch to List' : 'Switch to Grid'"
      >
        @if (store.viewLayout() === 'grid') {
          <svg lucideGrid size="20"></svg>
        } @else {
          <svg lucideList size="20"></svg>
        }

        <span class="ml-1 capitalize">{{ store.viewLayout() }} view</span>
      </button>
    </div>
  </header>

  <!-- Main Loading Spinner: Only shows on initial load or fresh searches -->
  @if (store.isLoading() && store.isEmpty()) {
    <div class="flex flex-col items-center justify-center min-h-[40vh]">
      <span class="loading loading-ring loading-lg text-primary"></span>
      <p class="mt-4 text-base-content/60 font-medium">Fetching your books...</p>
    </div>
  } @else if (store.isEmpty()) {
    <div class="flex flex-col items-center justify-center min-h-[40vh]">
      <svg lucideSearchAlert size="80" class="text-gray-400 dark:text-gray-800"></svg>
      <h1 class="mt-4 text-3xl font-bold text-base-content/50">Not found products</h1>
    </div>
  } @else {
    <!-- Render Grid or List -->
    @switch (store.viewLayout()) {
      @case ('grid') {
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
          @for (book of store.products(); track book.id) {
            <app-book-card [product]="book"></app-book-card>
          }
        </div>
      }
      @case ('list') {
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-4">
          @for (book of store.products(); track book.id; let i = $index) {
            <app-book-list-item [product]="book"></app-book-list-item>

            @if (i !== store.products().length - 1) {
              <div class="divider col-span-1 my-0 md:hidden"></div>
            }
            @if (i % 2 === 1 && i !== store.products().length - 1) {
              <div class="divider col-span-full hidden md:flex my-0"></div>
            }
          }
        </div>
      }
    }

    <app-pagination />
  }
</main>
