<main class="container mx-auto">
  <header class="flex justify-between items-center mb-8">

    <app-filter-bar></app-filter-bar>

    <div class="flex justify-end mb-6">
      <div class="join border border-base-300 bg-base-200 rounded-full overflow-hidden">

        <label
          class="join-item btn btn-sm btn-ghost border-none has-checked:bg-base-100 has-checked:text-primary has-checked:shadow-sm px-2">
          <input type="radio" name="layout" class="hidden" (change)="viewLayout.set('grid')"
                 [checked]="viewLayout() === 'grid'" />
          <app-icon name="Grid"></app-icon>
        </label>

        <label
          class="join-item btn btn-sm btn-ghost border-none has-checked:bg-base-100 has-checked:text-primary has-checked:shadow-sm px-2">
          <input type="radio" name="layout" class="hidden" (change)="viewLayout.set('list')"
                 [checked]="viewLayout() === 'list'" />
          <app-icon name="List"></app-icon>
        </label>

      </div>
    </div>
  </header>

  @if (bookService.loading()) {
    <div class="flex flex-col items-center justify-center min-h-[40vh]">
      <span class="loading loading-dots loading-lg text-primary"></span>
      <p class="mt-4 text-base-content/50">Fetching your books...</p>
    </div>
  } @else {
    @if (bookService.soldOut()) {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
        @for (book of bookService.soldOutBooks(); track book.id; let i = $index) {
          <app-book-card [data]="book" [isPriority]="i < 4"></app-book-card>
        }
      </div>
    } @else {
      @switch (viewLayout()) {
        @case ('grid') {
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            @for (book of bookService.books(); track book.id; let i = $index) {
              <app-book-card [data]="book" [isPriority]="i < 4"></app-book-card>
            }
          </div>
        }
        @case ('list') {
          <div class="flex flex-col gap-3">
            @for (book of bookService.books(); track book.id; let i = $index) {
              <app-book-list-item [data]="book" [isPriority]="i < 4"></app-book-list-item>
            }
          </div>
        }
      }
    }

  }

  @if (!bookService.loading()) {
    <div class="flex flex-col items-center gap-4 mt-12 pb-10">
      <div class="join bg-base-100 overflow-hidden">
        <button class="join-item btn btn-sm md:btn-md" [disabled]="bookService.currentPage() <= 1"
                (click)="bookService.setPage(1)">First
        </button>
        <button class="join-item btn btn-sm md:btn-md" [disabled]="bookService.currentPage() <= 1"
                (click)="bookService.setPage(bookService.currentPage() - 1)">{{ bookService.currentPage() - 1 }}
        </button>
        <button class="join-item btn btn-sm md:btn-md no-animation cursor-default">
          Page {{ bookService.currentPage() }} of {{ bookService.totalPages() }}
        </button>
        <button class="join-item btn btn-sm md:btn-md" [disabled]="!bookService.hasMore()"
                (click)="bookService.setPage(bookService.currentPage() + 1)">{{ bookService.currentPage() + 1 }}
        </button>
        <button class="join-item btn btn-sm md:btn-md" [disabled]="!bookService.hasMore()"
                (click)="bookService.setPage(bookService.totalPages())">Last
        </button>
      </div>

      <span class="text-xs text-base-content/40">
        Displaying {{ bookService.books().length }} of {{ bookService.total() }} total books
      </span>
    </div>
  }
</main>
