@let navBg = '/images/navbar.svg';
@let logo = '/images/astar.svg';

<div class="navbar shadow-2xl h-18 relative bg-neutral text-white">

  <div class="absolute inset-0 z-0 pointer-events-none opacity-30 overflow-hidden rounded-b-lg"
       [style.backgroundImage]="'url(' + navBg + ')'"
       style="background-position: bottom; background-repeat: repeat-x; background-size: contain;">
  </div>

  <div class="flex-1 flex items-center gap-2 pl-4 z-10">
    <button type="button" class="shrink-0 cursor-pointer rounded-lg transition-all duration-300 hover:scale-110"
            (click)="toggleSearchbar()">
      <img [ngSrc]="logo" width="50" height="50" class="rounded-lg object-cover shadow-md" alt="Bookshop logo">
    </button>

    <a routerLink="/" title="Bookshop"
       class="relative text-2xl px-4 py-2 font-bold transition-all duration-500 ease-in-out
          text-[oklch(68.5%_0.169_237.323)]
          hover:text-[oklch(75%_0.15_200)]
          group">
      BookShop
      <span class="absolute bottom-0 left-0 w-0 h-[2px] bg-current transition-all duration-300 group-hover:w-full opacity-50"></span>
    </a>
  </div>

  <div class="flex items-center gap-4 z-10 pr-4">

    @if (showSearchbar()) {
      <div class="relative group" *transloco="let t">
        <input type="text" [value]="searchQuery()" (input.debounce.500)="onSearchChange($event)"
               [placeholder]="t('filters.placeholders.search')"
               class="input input-sm w-34 md:w-auto transition-all bg-white/10 border-white/20 text-white placeholder:text-white/60 focus:bg-white/20 focus:border-white/40 focus:outline-none" />

        @if (searchQuery()) {
          <button (click)="onClearSearchbar()"
                  class="absolute right-2 top-1/2 -translate-y-1/2 btn btn-ghost btn-xs btn-circle text-white transition-transform hover:scale-125">
            ✕
          </button>
        }
      </div>
    }

    <button (click)="toggleLang()" appNoHoverButton
            class="btn btn-ghost btn-sm gap-2 rounded-sm px-3 font-bold text-white group"
            [title]="activeLang() === 'en' ? 'Prepnúť do slovenčiny' : 'Switch to English'">
      <div class="flex items-center gap-2 transition-transform duration-300 ease-out group-hover:scale-110 group-active:scale-95 will-change-transform">
        <svg lucideLanguages></svg>
        <span class="uppercase text-xs">{{ activeLang() === 'en' ? 'SK' : 'EN' }}</span>
      </div>
    </button>

    @if (!isLoggedIn()) {
      <button (click)="handleLogin()" appNoHoverButton class="btn btn-ghost btn-sm gap-2 rounded-sm px-4 text-white group">
        <div class="flex items-center gap-2 transition-transform duration-300 ease-out group-hover:scale-110 group-active:scale-95 will-change-transform">
          <svg lucideLogIn></svg>
          <span>Login</span>
        </div>
      </button>
    } @else {
      <button (click)="handleLogout()" appNoHoverButton class="btn btn-ghost btn-sm gap-2 rounded-sm px-4 text-white group">
        <div class="flex items-center gap-2 transition-transform duration-300 ease-out group-hover:scale-110 group-active:scale-95 will-change-transform">
          <svg lucideLogOut></svg>
          <span>Logout</span>
        </div>
      </button>
    }

    <button routerLink="/shopping" appNoHoverButton class="btn btn-ghost btn-sm btn-square relative group text-white"
            aria-label="View Shopping Cart">
      <div class="indicator transition-transform duration-300 group-hover:scale-110 group-active:scale-95 group-hover:-rotate-12">
        @if (cartStore.itemCount() > 0) {
          <span
            class="indicator-item badge badge-primary badge-xs font-bold border-none shadow-sm scale-90 mt-1 text-white">
          {{ cartStore.itemCount() }}
        </span>
        }
        <svg lucideShoppingBasket></svg>
      </div>
    </button>

    <div class="transition-transform duration-300 hover:scale-110">
      <app-theme-picker></app-theme-picker>
    </div>

    <div class="dropdown dropdown-end group">
      <div tabindex="0" role="button" class="relative flex items-center justify-center transition-transform duration-300 group-hover:scale-110">
        <div class="indicator">
          @if (isPremium() && isLoggedIn()) {
            <span class="indicator-item badge badge-xs py-2 px-1.5 text-[9px] font-black border-none z-20 -translate-x-2 translate-y-0 bg-gradient-to-tr from-[#BF953F] via-[#FCF6BA] to-[#B38728] text-black shadow-[0_2px_5px_rgba(0,0,0,0.3)] uppercase tracking-widest cursor-pointer">
              VIP
            </span>
          }
          <div class="rounded-full p-0.5 cursor-pointer"
               [class.premium-glow]="isPremium() && isLoggedIn()"
               [class.ring]="isPremium() && isLoggedIn()"
               [class.ring-warning]="isPremium() && isLoggedIn()">
            <div class="w-10 h-10 rounded-full overflow-hidden">
              <img priority alt="User Avatar" width="40" height="40" class="object-cover w-full h-full" [ngSrc]="userAvatar() ?? 'images/user.png'" />
            </div>
          </div>
        </div>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow text-base-content">
        @if (isLoggedIn() && isAdmin()) {
          <li><a routerLink="administration" (click)="closeDropdown($event)">Administration</a></li>
        }
        @if (isLoggedIn()) {
          <li><a routerLink="/profile" class="justify-between" (click)="closeDropdown($event)">Profile <span class="badge text-sm">{{ userName()?.username }}</span></a></li>
          <li><a (click)="logoutMenuItem($event)" role="button" tabindex="0">Logout</a></li>
        }
        <li><a routerLink="/features" (click)="closeDropdown($event)">Features</a></li>
      </ul>
    </div>
  </div>
</div>
