<div class="navbar bg-base-100 shadow-sm">

  <!-- MENU button and TITLE -->
  <div class="flex-1 flex items-center gap-2">
    <button
      (click)="toggleSearchbar()"
      class="btn btn-ghost btn-sm btn-square lg:flex"
      [class.bg-base-200]="showFilter()"
      aria-label="Toggle Sidebar">
      <app-icon [name]="showFilter() ? 'Menu' : 'Menu'" class="opacity-70"></app-icon>
    </button>

    <a routerLink="/" class="btn btn-ghost text-xl px-2">BookShop</a>
  </div>

  <div class="flex items-center gap-2">

    <!-- LOGIN / LOGOUT -->
    @if (!isLoggedIn()) {
      <button (click)="handleLogin()" class="btn btn-ghost btn-sm gap-2 rounded-sm px-4">
        <app-icon name="Login"></app-icon>
        <span>Login</span>
      </button>
    } @else {
      <button (click)="handleLogout()" class="btn btn-ghost btn-sm gap-2 rounded-sm px-4">
        <app-icon name="Logout"></app-icon>
        <span>Logout</span>
      </button>
    }

    <!-- SEARCHBAR -->
    @if (showSearchbar()) {
      <input type="text" placeholder="Search" class="input input-bordered w-34 md:w-auto" />
    }

    <!-- THEME -->
    <app-theme-picker></app-theme-picker>

    <!-- DROPDOWN AVATAR -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img
            fetchpriority="low"
            alt="User Avatar"
            width="40"
            height="40"
            ngSrc="images/sova.webp" />
        </div>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">

        @if (isLoggedIn()) {
          <li>
            <a routerLink="/profile" class="justify-between" (click)="closeDropdown($event)">
              Profile
              <span class="badge text-sm">{{ userName()?.username }}</span>
            </a>
          </li>
        }

        <li><a routerLink="/features" (click)="closeDropdown($event)">Features</a></li>
        <li><a routerLink="administration" (click)="closeDropdown($event)">Administration</a></li>
        <li><a (click)="logout($event)" role="button" tabindex="0">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

@if (showLoginModal()) {
  <div class="modal" [class.modal-open]="showLoginModal()">
    <div class="modal-box max-w-sm">
      <h3 class="font-bold text-lg mb-4">Prihlásenie</h3>

      <form (submit)="onLoginSubmit($event)" class="space-y-4">
        <div class="form-control">
          <label for="loginModalName" class="label"><span class="label-text">Meno</span></label>
          <input id="loginModalName" type="text" placeholder="Vaše meno" class="input input-bordered w-full" required
                 name="loginModalName" [(ngModel)]="modelUsername" />
        </div>

        <!--        <div class="form-control">-->
        <!--          <label for="loginModalPassword" class="label"><span class="label-text">Heslo</span></label>-->
        <!--          <input id="loginModalPassword" type="password" placeholder="••••••••" class="input input-bordered w-full" required />-->
        <!--        </div>-->

        <div class="modal-action">
          <button type="button" (click)="showLoginModal.set(false)" class="btn btn-ghost">Zrušiť</button>
          <button type="submit" class="btn btn-primary">Prihlásiť sa</button>
        </div>
      </form>
    </div>

    <div
      class="modal-backdrop"
      role="button"
      tabindex="0"
      aria-label="Zatvoriť okno"
      (click)="showLoginModal.set(false)"
      (keydown.enter)="showLoginModal.set(false)"
      (keydown.space)="showLoginModal.set(false)">
    </div>
  </div>
}
