<div title="Change Theme" class="dropdown dropdown-end block">
  <div tabindex="0" role="button" class="btn btn-ghost m-1 uppercase">
    <div
      [attr.data-theme]="currentTheme()"
      class="bg-base-100 grid shrink-0 grid-cols-2 gap-0.5 rounded-md p-1 shadow-sm"
    >
      <div class="bg-base-content size-1 rounded-full"></div>
      <div class="bg-primary size-1 rounded-full"></div>
      <div class="bg-secondary size-1 rounded-full"></div>
      <div class="bg-accent size-1 rounded-full"></div>
    </div>
    {{ currentTheme() }}
  </div>

  <ul tabindex="0" class="dropdown-content bg-base-200 text-base-content rounded-box top-px z-50 w-56 p-2 shadow-xl border border-base-300 max-h-[31rem] overflow-y-auto mt-14">
    <li class="menu-title text-xs">Theme</li>
    @for (theme of availableThemes(); track theme.name) {
      <li class="mb-1">
        <button
          (click)="changeTheme(theme.name)"
          class="group flex items-center gap-3 px-3 py-1 w-full hover:bg-base-300 transition-colors rounded-md text-left"
          [class.bg-base-300]="currentTheme() === theme.name"
          [class.is-active]="currentTheme() === theme.name"
        >
          <div
            [attr.data-theme]="theme.name"
            class="bg-base-100 grid shrink-0 grid-cols-2 gap-0.5 rounded-md p-1 shadow-sm"
          >
            <div class="bg-base-content size-1 rounded-full"></div>
            <div class="bg-primary size-1 rounded-full"></div>
            <div class="bg-secondary size-1 rounded-full"></div>
            <div class="bg-accent size-1 rounded-full"></div>
          </div>

          <div class="flex-1 w-32 truncate lowercase">{{ theme.label }}</div>

          @if (currentTheme() === theme.name) {
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor"
                 class="h-3 w-3 shrink-0">
              <path d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"></path>
            </svg>
          } @else {
            <div class="w-3"></div>
          }
        </button>
      </li>
    }
  </ul>
</div>
