@import 'tailwindcss';

@source "../../frontend/src";
@source "../../libs/src";

@plugin "daisyui" {
  themes: all;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
}
