<aside
  class="border-r border-base-300 bg-base-100 sticky top-1 h-[calc(100vh-64px)] transition-all duration-300 ease-in-out"
  [class.w-72]="showFilter()"
  [class.w-0]="!showFilter()"
  [class.opacity-0]="!showFilter()"
  [class.pointer-events-none]="!showFilter()"
  [class.p-6]="showFilter()"
  [class.p-0]="!showFilter()"
  *transloco="let t;">

  <div class="min-w-60 flex flex-col h-full gap-6 overflow-y-auto no-scrollbar" [class.hidden]="!showFilter()">

    <section>
      <div class="flex justify-between items-center mb-3">
        <h3 class="text-xs font-bold uppercase tracking-widest text-base-content/40">{{ t('filters.sections.search') }}</h3>
        <button
          type="button"
          (click)="updateFilter('search', '')"
          class="text-[10px] uppercase font-bold tracking-tight link link-hover opacity-50 hover:opacity-100 focus:outline-none focus:ring-1 focus:ring-primary rounded px-1 transition-all">
          {{ t('filters.actions.clear') }}
        </button>
      </div>
      <label class="input input-md input-bordered flex items-center gap-2 bg-base-200/30">
        <app-icon name="Search" class="opacity-40 h-4 w-4"></app-icon>
        <input type="text" class="grow"
               [placeholder]="t('filters.placeholders.search')"
               [value]="filters().search"
               (input)="updateFilter('search', $any($event.target).value)" />
      </label>
    </section>

    <section class="border-base-200">
      <div class="flex flex-col gap-3">
        @for (toggle of ['available', 'newReleases', 'discounted', 'bestsellers']; track toggle) {
          <label class="flex items-center justify-between cursor-pointer group">
            <span
              class="label-text text-sm font-semibold capitalize">{{ t(`filters.status_types.${toggle}`) }}</span>
            <input
              type="checkbox"
              class="toggle toggle-sm"
              [class.toggle-success]="toggle === 'available'"
              [class.toggle-primary]="toggle !== 'available'"
              [checked]="$any(filters())[toggle]"
              (change)="updateFilter($any(toggle), $any($event.target).checked)" />
          </label>
        }
      </div>
    </section>

    <section>
      <h3 class="text-xs font-bold uppercase tracking-widest text-base-content/40 mb-3">{{ t('filters.sections.sort') }}</h3>
      <div class="flex flex-row gap-2">
        <button
          (click)="updateSort('popularity')"
          [class.btn-active]="filters().sortBy === 'popularity'"
          class="btn btn-sm rounded-full btn-ghost justify-between font-medium px-2 rou">
          <span>🔥 {{ t('filters.sort_options.popularity') }}</span>
          <span class="badge badge-ghost badge-xs">↓</span>
        </button>

        <button
          (click)="updateSort('price')"
          [class.btn-active]="filters().sortBy && filters().sortBy?.startsWith('price')"
          class="btn btn-sm rounded-full btn-ghost justify-between font-medium px-2">
          <span>💰 {{ t('filters.sort_options.price') }}</span>

          <span class="badge badge-ghost badge-xs">
          {{ filters().sortBy === 'price_desc' ? '↓' : '↑' }}
      </span>
        </button>
      </div>
    </section>

    <section>
      <div class="flex justify-between items-center mb-3">
        <h3 class="text-xs font-bold uppercase tracking-widest text-base-content/40">
          {{ t('filters.sections.categories') }}
          <span class="badge badge-ghost badge-xs ml-2">{{ store.books().length }} / {{ store.totalBooks() }}</span>
        </h3>
        <button
          type="button"
          (click)="updateFilter('category', null)"
          class="text-[10px] uppercase font-bold tracking-tight link link-hover opacity-50 hover:opacity-100 focus:outline-none focus:ring-1 focus:ring-primary rounded px-1 transition-all">
          {{ 'filters.actions.clear' | transloco }}
        </button>
      </div>
      <div class="flex flex-col">
        @for (cat of bookCategories; track cat) {
          <label
            [class.bg-base-300]="filters().category === cat"
            class="flex items-center gap-5 px-2 py-2 rounded-lg hover:bg-base-200 cursor-pointer group transition-colors">
            <input
              type="radio"
              name="bookCategory"
              class="radio radio-sm radio-neutral"
              [checked]="filters().category === cat"
              (change)="updateFilter('category', cat)" />
            <div class="flex items-center gap-2">
              <span class="text-sm font-medium text-base-content/70 group-hover:text-base-content">{{ cat }}</span>
            </div>
          </label>
        }
      </div>
    </section>

    <div class="sticky bottom-0 bg-base-100 pt-4 pb-2 border-t border-base-200">
      <button
        (click)="onSubmit()"
        [disabled]="isCoolingDown()"
        class="btn btn-primary btn-block shadow-lg">

        @if (isCoolingDown()) {
          <div>
            <span class="loading loading-spinner loading-xs"></span>
            {{ 'filters.actions.waiting' | transloco }}
          </div>
        } @else {
          <div>
            {{ 'filters.actions.submit' | transloco }}
          </div>
        }
      </button>
    </div>
  </div>
</aside>
