<div
  *transloco="let t"
  class="card h-[390px] w-full bg-base-100 border border-base-300 hover:-translate-y-1 transition-all duration-300 group"
>
  <figure class="px-4 pt-4 cursor-pointer" [routerLink]="['/book', data.id]">
    <div
      class="relative w-full h-56 rounded-xl flex items-center justify-center transition-colors">

      <img [ngSrc]="data.coverUrl || 'images/placeholder.webp'"
           width="110"
           height="160"
           class="h-52 w-auto object-contain drop-shadow-md transition-transform duration-500 group-hover:scale-105"
           [alt]="`Book Cover ${data.title}`">

      <span
        class="absolute top-0 left-0 px-2 py-1 rounded-md bg-base-100/70 backdrop-blur-md border border-base-content/10 text-base-content text-[10px] uppercase tracking-widest font-bold shadow-sm z-10">
        {{ data.category }}
      </span>

      <button
        (click)="$event.stopPropagation(); toggleFavorite(data.id)"
        class="favorite-btn absolute top-0 right-0 p-2 rounded-full bg-base-100/80 backdrop-blur-sm shadow-sm transition-all hover:scale-110 active:scale-95 z-10"
        [class.fav]="isFavorite()"
        [class.text-error]="isFavorite()"
        [class.text-base-content]="!isFavorite()">
        <svg lucideHeart size="20" [attr.fill]="isFavorite() ? 'currentColor' : 'none'"></svg>
      </button>
    </div>
  </figure>

  <div class="card-body p-5 flex flex-col overflow-hidden">
    <div class="space-y-1 shrink-0">
      <h2 class="card-title text-sm font-bold line-clamp-1 group-hover:text-primary transition-colors leading-tight">
        {{ data.title }}
      </h2>
      <p class="text-xs text-base-content/70 italic">by {{ data.author }}</p>
    </div>

    <div class="flex justify-between items-center shrink-0 mt-2">
      <div class="flex flex-col gap-0.5">
        @if (data.discount > 0) {
          <span class="text-[10px] line-through opacity-40">
            {{ data.price | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}
          </span>
        }

        <span class="text-xl font-extrabold text-primary leading-none">
          {{ (data.price * (1 - data.discount)) | currency:'EUR':'symbol':'1.2-2':'sk-SK' }}
        </span>

        <span class="text-[10px] font-medium mt-0.5"
              [class.text-success]="data.availableCount > 0"
              [class.text-error]="data.availableCount === 0">
          {{ data.availableCount > 0 ? 'Skladom (' + data.availableCount + ' ks)' : 'Vypredané' }}
        </span>
      </div>

      @if (!data.isSoldOut) {
        <button
          (click)="$event.stopPropagation(); handleCartAction()"
          class="btn btn-sm btn-outline transition-all duration-200 active:scale-95 px-4"
          [class.text-base-content]="!isInCart()"
          [class.btn-error]="isInCart()"
        >
          @if (isInCart()) {
            <span>{{ t('cart.remove_from_cart') }}</span>
          } @else {
            <span>{{ t('cart.add_to_cart') }}</span>
          }
        </button>
      } @else {
        <div class="tooltip" [attr.data-tip]="t('common.sold_out_tooltip')">
          <button class="btn btn-soft btn-sm" disabled>{{ t('common.sold_out') }}</button>
        </div>
      }

    </div>

    <div class="flex-grow"></div>
  </div>
</div>
