<footer class="footer sm:footer-horizontal bg-base-100 text-base-content p-10 border-t border-base-300 shadow-inner">
  <aside>
    <div class="text-primary mb-2">
      <app-icon name="LogoFooter"></app-icon>
    </div>
    <p class="font-bold text-lg">BookShop Ltd.</p>
    <p class="opacity-70">Poskytujeme úžasné knihy od roku 2026</p>
  </aside>

  <nav>
    <h6 class="footer-title opacity-100 text-primary">Služby</h6>
    <a class="link link-hover transition-all hover:text-primary">Branding</a>
    <a class="link link-hover transition-all hover:text-primary">Design</a>
  </nav>

  <nav>
    <form>
      <h6 class="footer-title">Newsletter</h6>
      <fieldset class="form-control flex flex-col w-80 gap-4">
        <label for="footerEmail" class="label">
          <span class="label-text">Najlepšie novinky sú tie knižné. Získajte ich ako prví. (Pre osoby staršie ako 16 rokov.):</span>
        </label>
        <div class="join">
          <input id="footerEmail" type="text" placeholder="username@gmail.com" class="input input-bordered join-item w-full" />
          <button class="btn btn-primary join-item">Odoberať</button>
        </div>
      </fieldset>
    </form>
  </nav>
</footer>
