<table *transloco="let t" class="table table-sm table-zebra w-full table-pin-rows table-pin-cols">
  <thead class="h-12">
  <tr class="text-primary font-bold border-b-2 border-primary/20 backdrop-blur-sm">
    <th></th>
    <th>{{ t('book_table.title') }}</th>
    <th>{{ t('book_table.publisher') }}</th>
    <th>ISBN</th>
    <th>{{ t('book_table.availability') }}</th>
    <th>{{ t('book_table.price') }}</th>
    <th>{{ t('book_table.status') }}</th>
    <th class="text-center">{{ t('book_table.actions') }}</th>
  </tr>
  </thead>
  <tbody>
    @for (book of books(); track book.id; let i = $index) {
      <tr class="hover:bg-base-200/30 transition-colors group">
        <td><span class="font-bold">{{ i }}</span></td>
        <td>
          <div class="font-bold text-sm"><a [routerLink]="['/book', book.id]">{{ book.title }}</a></div>
          <div class="text-[10px] opacity-50 italic">{{ book.author }}</div>
        </td>
        <td>
          <div class="font-bold text-sm">{{ book.publisher }}</div>
          <div class="text-[10px] opacity-50 italic">{{ book.publishedDate | date:'mediumDate' }}</div>
        </td>
        <td>
          <div class="font-normal">{{ book.isbn }}</div>
        </td>
        <td>
          <div class="font-normal">{{ book.availableCount }}</div>
        </td>
        <td>
          <div class="flex items-center gap-2">
              <span class="font-bold text-sm text-success">
                {{ (book.price * (1 - book.discount / 100)) | currency:'EUR' }}
              </span>
            @if (book.discount > 0) {
              <span class="text-[10px] line-through opacity-40">
                {{ book.price | currency:'EUR' }}
              </span>
            }
          </div>
        </td>
        <td>
          <div class="flex items-center justify-start">
            @if (book.availableCount <= 0) {
              <span class="badge badge-error badge-xs font-bold uppercase py-2 px-2 text-[9px] text-white">
                  {{ t('book_table.soldOut') }}
                </span>
            } @else if (book.isNewArticle) {
              <span class="badge badge-success badge-xs font-bold uppercase py-2 px-2 text-[9px]">
                   {{ t('book_table.news') }}
                </span>
            } @else {
              <span class="badge badge-neutral badge-xs font-bold uppercase py-2 px-2 text-[9px] text-white">
                   {{ t('book_table.available') }}
                </span>
            }
          </div>
        </td>
        <td class="text-right whitespace-nowrap">
          <div class="flex justify-end gap-1">
            <button
              (click)="handleDelete(book)"
              [attr.data-tip]="t('book_table.delete')"
              type="button"
              class="btn btn-ghost tooltip btn-xs btn-circle text-primary hover:bg-primary/10 transition-colors"
              title="Vymazať">
              <app-icon name="Trash" class="h-4 w-4"></app-icon>
            </button>

            <button
              (click)="handleEdit(book)"
              [attr.data-tip]="t('book_table.edit')"
              type="button"
              class="btn btn-ghost tooltip btn-xs btn-circle text-primary hover:bg-primary/10 transition-colors"
              title="Upraviť">
              <app-icon name="Edit" class="h-4 w-4"></app-icon>
            </button>

            <button
              [attr.data-tip]="t('book_table.detail')"
              type="button"
              class="btn btn-primary tooltip btn-xs btn-circle shadow-sm ml-1"
              [routerLink]="['/book', book.id]"
              title="Detail">
              <app-icon name="RightArrow" class="h-4 w-4"></app-icon>
            </button>
          </div>
        </td>
      </tr>
    }
  </tbody>
</table>

